{% extends "tethys_apps/app_base.html" %}

{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}
{% block app_icon %}<img src="{% static tethys_app.icon %}">{% endblock %}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block header_buttons %}
    <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Recompute District Averages">
        <a onclick="updateDistricts()"><span class="glyphicon glyphicon-refresh"></span></a>
    </div>
{% endblock %}

{% block app_navigation_items %}
    <li class="title">App Navigation</li>

    {% gizmo range_slider boundaryopacity %}

    <li><strong>View LDAS Data</strong></li>
    <li>
        <label class="switch">
            <input type="checkbox" id="historicaltoggle">
            <span class="slider round"></span>
        </label>
    </li>

    <div id="historical_controls_wrapper" style="display: none;">
        {% gizmo select_input variables %}
        {% gizmo select_input dates %}
        {% gizmo select_input colors %}
        {% gizmo range_slider rasteropacity %}
    </div>

{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
    {{ block.super }}
    <!-- styling for leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <!-- styling for the leaflet draw plugin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.css" />

    <!-- Tabulator Style Sheet -->
    <link href="https://unpkg.com/tabulator-tables@4.2.5/dist/css/tabulator.min.css" rel="stylesheet">

    <!-- App specific styling scripts -->
    <link href="{% static 'malaria/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <!-- Allows csrf verification with AJAX -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- Script for Leaflet -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <!-- Esri with leaflet -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g==" crossorigin=""></script>
    <!-- allows you to use the leaflet draw plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.js"></script>

    <!-- script for using highcharts (display timeseries plot) -->
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
    <!-- Use this to export data from highcharts as csv, jpeg, etc -->
    <script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- Use this to show loading functions and placeholders -->
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

    <!-- Tabulator for tables -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.2.5/dist/js/tabulator.min.js"></script>

    <!-- App Specific JS Pages -->
    <script src="{% static 'malaria/js/informations.js' %}" type="text/javascript"></script>
    <script src="{% static 'malaria/js/ajax.js' %}" type="text/javascript"></script>
    <script src="{% static 'malaria/js/highcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'malaria/js/main.js' %}" type="text/javascript"></script>
{% endblock %}