{% extends "malaria/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
<div id="wrapper" style="margin-left: auto; margin-right: auto; height: 100%; width: 100%">
    <div id="map" style="float: left; width: 50%;"></div>
    <div id="otherstuff" style="float: left; width: 50%;">
        <div id="highchart" style="height: 50%"></div>
        <div id="somethingelse" style="height: 50%">
            <h3 style="text-align: center;">District Information</h3>
            <ul>
                <li>Maybe some stats</li>
                <li>like maybe size and population</li>
                <li>current ldas variables</li>
                <li>what the number 0-1 of risk is for the district</li>
                <li>explanation of the risk system</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
